body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: hsl(0, 0%, 8%);
}
.main {
    background:  hsl(0, 0%, 12%);
    width: 350px;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.avater {
    border-radius: 100%;
    width: 100px;
}
h1, p {
    color: white;
}
h3 {
    color: hsl(75, 94%, 57%);
}

.btn {
    background: hsl(0, 0%, 20%);
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: whitesmoke;
    width: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}
.btn:hover {
    background: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}